{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "draw2d": true,
    "$": true,
    "Robotois": true,
    "document": true,
    "window": true,
    "Blockly": true,
  }
}
