.drawer {
	overflow-y: auto;
	height: 100% !important;
	width: 400px !important;
  bottom: 0rem;
  top: 2.1rem;
  right: -webkit-calc(0%); /*50% - half your wrapper width*/
  right: calc(0%);
}
.drawer-closed {
	max-width: 0 !important;
}
.sidebar {
  width: 15rem;
}
.sidebar .tois-search {
  margin-left: 1rem;
  margin-right: 1rem;
}
.sidebar .tois-list {
  bottom: 0rem;
  overflow-y: auto;
  position: fixed;
  top: 5rem;
  width: 13.5rem;
  margin-left: 0.5rem;
  /*padding-right: 0.5rem;*/
}
.sidebar .tois-list .toi-item {
  width: 12.5rem;
}

.workspace {
  height: 100vh;
  width: 100%;
  display: flex;
}

.visual-and-code-editor-container .code-editor{
  display: block;
  background-color: #2A2734;
  overflow-y: auto;
  height: 100%;
  flex: 1;
  color: #FFFFFF;
}
