/*
SELECTED TOI #2F2C53;
BG LIST #3A375C;
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body,
html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif !important;
}
#root {
  width: 100%;
  height: 100%;
}
#provider {
  width: 100%;
  height: 100%;
}
#app {
  font-family: 'Ubuntu', sans-serif !important;
  width: 100%;
  height: 100%;
}
.center-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.workspace {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
.workspace-dark {
  background-color: #3A375C;
}
.dark-bg {
  background-color: #474B7E;
  color: #EAE8FF;
}
.is-bold {
  font-weight: 600;
}
.is-medium {
  font-weight: 500;
}
.code-editor {
  width: 100%;
  height: 100%;
}
.robotois-input,
.toi-detail .form-select {
  height: 45px;
  border-radius: 5px;
}
.form-label-with-combo {
  padding-top: 0.8em;
}
.with-help-pop-over {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.with-help-pop-over div {
  margin-left: 3px;
}
.toolbar {
  background: #303051;
  display: flex;
  flex: 60px 100%;
  align-items: center;
  font-family: 'Ubuntu', sans-serif !important;
}
.toolbar .col-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.toolbar .btn-action {
  background-color: #303051;
  margin-left: 1em;
}
.toolbar .btn-action .icon-apps {
  color: #8A81C3;
}
.toolbar .kit-status {
  display: flex;
  padding: 1.5em;
  color: #EAE8FF;
  align-items: center;
  justify-content: center;
}
.toolbar .kit-status span {
  margin-right: 0.5em;
}
.toolbar .view-options {
  justify-content: center;
}
.toolbar .run-code {
  justify-content: flex-end;
  padding-right: 2em;
}
.toolbar .run-code button {
  border-radius: 4px;
}
.toolbar .run-code .btn-primary {
  background-color: #27BCEB;
  width: 180px;
  font-weight: bold;
}
.toolbar .run-code .btn-secondary {
  margin-right: 5px;
}
.toolbar .btn-group-block .btn {
  background: #353558;
  color: #9999B9;
  border: 1px solid #171826;
}
.toolbar .btn-group-block .active {
  background: #5455D0;
  border-color: #171826;
  color: #fff;
  text-decoration: none;
}
.toolbar .btn-group-block .active.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.circle,
.online,
.offline {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
}
@keyframes color_red_change {
  from {
    background-color: orange;
  }
  to {
    background-color: #E2244C;
  }
}
.online {
  background-color: #00E257;
}
.offline {
  background-color: #E2244C;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: color_red_change;
}
.robotois-apps .mednu-item {
  float: left;
  margin: 0;
}
.side-bar {
  display: flex;
  width: 386px;
  flex-direction: column;
  background-color: #2F2C53;
  font-family: 'Ubuntu', sans-serif !important;
  overflow-y: auto;
}
.tois-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tois-container .tois-search {
  height: 72px;
  display: flex;
  align-items: center;
}
.tois-container .tois-search form {
  width: 100%;
  padding: 1em;
}
.tois-container .search-input {
  background-color: #2F2C53;
  color: #EAE8FF;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
}
.tois-container .search-input::placeholder {
  color: #EAE8FF;
  color: #8A81C3;
}
.tois-container .icon-search {
  color: #EAE8FF;
}
.tois-container .tois-list {
  overflow-y: auto;
  flex: 1;
}
.tois-container .toi-item {
  background-color: #3A375C;
  min-height: 150px;
  display: flex;
  align-items: center;
  padding: 0px 0.8em 0 0.8em;
}
.tois-container .toi-item .tile-icon img {
  width: 64px;
}
.tois-container .toi-item .tile-content .tile-title {
  font-size: 18px;
  font-weight: bold;
  color: #EAE8FF;
  margin: 0.5em 0 0.5em 0;
}
.tois-container .toi-item .tile-content .tile-subtitle {
  color: #8A81C3;
  font-size: 14px;
}
.tois-container .toi-item:hover {
  background-color: #2F2C53;
  border: 1px solid #27BCEB;
}
.toi-detail {
  background-color: #2F2C53;
  min-height: 150px;
  display: flex;
  height: 100%;
  padding: 1em 0.8em 0 0.8em;
}
.toi-detail .card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toi-detail .tile-content .tile-title {
  font-size: 20px;
  font-weight: bold;
  color: #EAE8FF;
  margin: 0.5em 0 0.5em 0;
}
.toi-detail .tile-content .tile-subtitle {
  color: #5755d9;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.modal-title-robotois {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal-title-robotois .icon-title {
  display: block;
  height: 40px;
  width: 40px;
  background-color: #E4E2FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}
.modal-title-robotois .icon-title img {
  width: 24px;
  height: 24px;
}
.modal-title-robotois .h5 {
  text-transform: uppercase;
  color: #5755d9;
}
.event-config h6 {
  font-size: 18px;
  margin-bottom: 1.2em;
  text-transform: uppercase;
}
.event-config .config-events {
  margin-top: 2em;
}
.divider-footer {
  margin-top: 2em;
}
.sensor-event {
  margin-top: 2em;
}
.status-bar {
  background: #2F2C53;
  color: #EAE8FF;
  font-size: 13px;
  text-align: right;
  height: 30px;
}
.status-bar span {
  margin-right: 0.8em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.status-bar .status-error {
  color: #E2244C;
}
.status-bar .status-ok {
  color: #00E257;
}
.status-bar i {
  margin-right: 5px;
}
.delete-button-container {
  display: flex;
  justify-content: flex-end;
}
