/*
SELECTED TOI #2F2C53;
BG LIST #3A375C;
*/
@darker: #222042;
@dark: #2F2C53;
@mid-dark: #3A375C;
// @light-dark: #474B7E;
@light-dark: #303051;
@light: #DDDDF8;
@blue: #27BCEB;
@dark-blue: darken(@blue, 3%);
@green: #00E257;
@red: #E2244C;
@light-text: #EAE8FF;
@purple-text: #8A81C3;
@light-color: #fff;
@purple: #5755d9;
@purple-button: #5455D0;
@purple-button-border: #171826;
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif !important;
}
#root {
  width: 100%;
  height: 100%;
}
#provider {
  width: 100%;
  height: 100%;
}

#app {
  font-family: 'Ubuntu', sans-serif !important;
  width: 100%;
  height: 100%;
}

.center-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.workspace {
  width: 100%;
  flex: 1;
}

.code-editor{
  width: 100%;
  height: 100%;
}

.robotois-input {
  height: 45px;
  border-radius: 5px;
}

@import "toolbar.less";
@import "side-bar.less";
@import "modal.less";
@import "status-bar.less";
@import "delete-button.less";
