.toolbar {
  background: @light-dark;
  display: flex;
  flex: 60px 100%;
  align-items: center;
  font-family: 'Ubuntu', sans-serif !important;
  .col-4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .btn-action {
    background-color: @light-dark;
    margin-left: 1em;
    .icon-apps {
      color: @purple-text;
    }
  }
  .kit-status {
    display: flex;
    padding: 1.5em;
    color: @light-text;
    align-items: center;
    justify-content: center;
    span {
      margin-right: 0.5em;
    }
  }
  .view-options {
    justify-content: center;
  }
  .run-code {
    justify-content: flex-end;
    padding-right: 2em;
    button {
      border-radius: 4px;
    }
    .btn-primary {
      background-color: @blue;
      width: 180px;
      font-weight: bold;
    }
    .btn-secondary {
      margin-right: 5px;
    }
  }
  .btn-group-block {
    .btn {
      background: #353558;
      color: #9999B9;
      border: 1px solid @purple-button-border;
    }
    .active {
     background: @purple-button;
     border-color: @purple-button-border;
     color: @light-color;
     text-decoration: none;
     &.loading {
       &::after {
         border-bottom-color: @light-color;
         border-left-color: @light-color;
       }
     }
   }
  }
}

.circle {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
}
@keyframes color_red_change {
	from { background-color: orange; }
	to { background-color: @red; }
}
.online:extend(.circle) {
  background-color: @green;
}
.offline:extend(.circle) {
  background-color: @red;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  animation-name: color_red_change;
}

.robotois-apps {
  //background-color: @light-dark;
  // align-items: center;
  .mednu-item {
    float: left;
    margin: 0;
  }
}
